/* nav */
.nav-bar{
    padding: 0 2rem;
    border-bottom: 1px solid #5454549d;
    border-top: 1px solid #5454549d;

    width: 100%;

    display: flex;
    align-items: center;
}
.nav-bar h1{
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.nav-bar button{
    font-size: 1rem;

    background-color: rgb(255, 40, 40);
    color: white;

    padding: 0.6rem;
    border-radius: 0.4rem;
    border: 1px solid #fe4545 ;

    cursor: pointer;
    transition: background-color 250ms ease-in-out, color 200ms ease-in;
}

.nav-bar button:hover{
    background-color: #fe4545;
}

.nav-bar button:active{
    background-color: #ffffff;
    color: #fe4545 ;
    
    border: 1px solid #fe4545 ;
}